body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
  background: #3498db;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

.hidden {
  display: none;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 35%;
  cursor: pointer;
}

body.login-bg {
  background-image: url('../img/logo_maestranzas.png'); /* Ruta ajustada */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.empresa-logo img {
  max-width: 150px;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}